@charset "UTF-8";

.wrapper{
  background-color: #DCDCDC;
}
.top {
  display: flex;
  height: 50px;
  background-color: #FF3399;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 0 3px 2px 0 #bbb;
}
.top_left {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
}
.top_right {
  height: 30px;
  width: 100px;
  background-color: #fff;
  border-radius: 5px;
}
.middle {
  padding: 20px 30px;
}
.middle_inner {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.middle_inner:first-child {
  margin-top: 0;
}
.middle_left {
  height: 50px;
  width: 50px;
  background-color: #A9A9A9;
  border-radius: 5px;
}
.middle_right {
  height: 100px;
  margin-left: 10px;
  flex: 1;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 3px 3px 0 #bbb;
}
.bottom {
  height: 50px;
  background-color: #000044;
}